<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<style>
  body  {
  background-image: url("https://images.alphacoders.com/102/thumb-1920-1026345.jpg");
  background-color: #cccccc;
}
    /* Style to center grid column */
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    
    /* Some custom styles to beautify this example */
    .row{
        background: #dbdfe5;
    }
    .demo-content{
        padding: 25px;
        font-size: 18px;
        background: #abb1b8;
    }
</style>
</head>
<body>
  <div class="container my-3">
    <br>
    <h1 style="text-align: center;color:white">Wecome to the best quiz platform</h1>
    <p style="text-align: center;color:white;margin-top:25%;">  Please register or login to begin</p>
    <div class="col-md-12 text-center" style="top:30%;">
        <a href="/api/register"><button type="button" class="btn btn-primary">Register</button></a>
        <a href="/api/login"><button type="button" class="btn btn-warning">Login</button></a>
    </div>
</div>


</body>
</html>
